<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>

		<script defer src="https://kit.fontawesome.com/1b01ea6d0e.js" crossorigin="anonymous"></script>

	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
			<span class='contact'>
			  <a aria-label="linkedin" href="https://www.linkedin.com/in/dennis-kennetz-377448142/"><i class="fab fa-linkedin"></i></a>
			  <a aria-label="github" href="https://github.com/drkennetz"><i class="fab fa-github"></i></a>
			  <a href="https://stackexchange.com/users/11557519"><img src="https://stackexchange.com/users/flair/11557519.png" width="208" height="58" alt="profile for d_kennetz on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for d_kennetz on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>

			</span>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
		  &copy; Dennis Kennetz
          <br>
          Thanks for stopping by! <a href="https://11ty.io">Built using 11ty </a><a href="https://github.com/11ty/eleventy-base-blog">base blog</a>.
		</footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
